<!doctype html>
<html>
    <head>
        
        {% block head %}


        {% endblock %}
        
        <style>
            .error {
                font-style: italic;
                color: red;
                margin-top: 0%;
                margin-bottom: 0%;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="/blog">Main Blog Page</a>
            <a href="/newpost">Add a Blog Entry</a>
        </nav>
        
        {% block body %}



        {% endblock %}

    </body>
</html>